<div class="wrapper">
  <div class="sidenav-holder">
    <app-sidenav></app-sidenav>
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron">
          <ngc-progressbar
            [type]="'circle'"
            [value]="80"
            id="progrebarOne"
          ></ngc-progressbar>
        </div>
      </div>
      <div class="col-md-6">
        <div class="jumbotron">
          <ngc-progressbar
            [type]="'bar'"
            [value]="80"
            id="progrebarTwo"
          ></ngc-progressbar>
        </div>
      </div>
      <div class="col-md-6">
        <div class="jumbotron">
          {{ val }}
          <ngc-progressbar
            [type]="'circle'"
            [styles]="progressBarStyle1"
            [value]="val"
            id="progrebarThree"
          >
          </ngc-progressbar>
        </div>
      </div>
      <div class="col-md-6">
        <div class="jumbotron">
          <ngc-progressbar
            [type]="'bar'"
            [styles]="progressBarStyle2"
            [value]="80"
            id="progrebarFour"
          >
          </ngc-progressbar>
        </div>
      </div>
    </div>
  </div>
</div>
