<div class="wrapper">
  <div class="sidenav-holder">
    <app-sidenav></app-sidenav>
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron">
          <ngc-progressbar
            [type]="'circle'"
            [value]="50"
            id="progrebarTwo"
          ></ngc-progressbar>
        </div>
      </div>
      <div class="col-md-6">
        <div class="jumbotron">
          <ngc-progressbar
            [type]="'bar'"
            [value]="80"
            id="progrebarbarOne"
          ></ngc-progressbar>
        </div>
      </div>
      <div class="col-md-6">
        <div class="jumbotron"></div>
      </div>
      <div class="col-md-6">
        <div class="jumbotron"></div>
      </div>
    </div>
  </div>
</div>
