<!-- <div
  class="progressbar-holder"
  style="width: 500px; height: 300px; margin: 0 auto;"
>
  <ngc-progressbar
    [styles]="progressBarStyle2"
    [type]="'bar'"
    [value]="88.5255"
    id="progressBarFour"
  ></ngc-progressbar>
</div>

<div>
  <ngc-progressbar
    [type]="'circle'"
    [value]="10"
    id="progrebarOne"
    [styles]="progressBarStyle1"
  ></ngc-progressbar>
</div>

<div class="progressbar-holder" style="width: 600px; height: 600px;">
  <ngc-progressbar
    [type]="'circle'"
    [value]="50"
    id="progressBarTwo"
  ></ngc-progressbar>
</div>

<div class="progressbar-holder" style="width: 200px; height: 300px;">
  <ngc-progressbar
    [styles]="progressBarStyle2"
    [type]="'circle'"
    [value]="10"
    id="progressBarThree"
  ></ngc-progressbar>
</div> -->

<div style="border: 1px solid #676763; width: 50%">
  <ngc-progressbar
    [type]="'circle'"
    [value]="20"
    id="progrebarTwo"
  ></ngc-progressbar>
</div>
<br>
<div style="border: 1px solid #676763;">
  <ngc-progressbar
    [type]="'circle'"
    [value]="10"
    id="progrebarOne"
    [styles]="progressBarStyle1"
  ></ngc-progressbar>
</div>

