.progressbar-holder {
  height: 500px;
  width: 500px;
  border: 2px solid red;
}
.responsive-holder {
  width: 80%;
  margin: 0 auto;
  height: 200px;
  border: 2px solid blue;
}

.progressbar-holder-line-bar {
  width: 80%;
  height: 20px;
}
